.subject-main-info {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 30px;
  position: relative;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 20px 0 40px 0;

  .subject-info-item-title {
    width: 200px;
    font-weight: 600;

  }
}

.subject-content-tab {
  padding: 20px 30px;
  position: relative;
  background-color: #ffffff;
  border-radius: 15px;

  .subject-content-header-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--hust-color);
    margin-bottom: 30px;
  }

  .chapter-title {
    color: var(--hust-color);
    margin: 20px 0px 20px 0px;
    font-size: 20px;
    font-weight: bold;
  }

}

.subject-content-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;

  .btn {
    display: flex;
    justify-content: center;
  }

  .btn-submit {
    span {
      font-size: 20px;
    }
  }

  .btn-space {
    margin-bottom: 40px;
  }

  .chapter-view-title,
  .chapter-view-orders {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
      font-size: 18px;
      font-weight: bold;
      flex-shrink: 0;
    }
  }

  .chapter-view-title {
    width: 90%;

    span {
      width: 10%;
    }
  }

  .form-space {
    width: 90%;
    display: flex;
    gap: 40px;
    align-items: center;
    margin-bottom: 20px;


    .add-chapter-order {
      width: 25%;
    }

    .add-chapter-content {
      width: 60%;
    }

    .ant-form-item-control {
      width: 80%;

      input {
        width: 100%;
      }
    }

    label {
      font-weight: bold;
    }

  }



  .item-space {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
  }

}

.subject-view-header {
  font-size: 30px;
  font-weight: 600;
  color: var(--hust-color);
  padding: 20px;
}

.subject-column {
  display: flex;
  flex-direction: column;

  span {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 15px;
  }
}

.subject-content {
  border-bottom: 1px solid gainsboro;
  padding-bottom: 15px;

  .subject-content-nonedit {
    display: flex;
    gap: 15px;
    margin: 10px 0px;

    span {
      font-size: 18px;
    }
  }
}
