.account-menu {
  .ant-dropdown-trigger {
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
  }
}

.user-menu-overlay {
  min-width: 200px !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  position: fixed;
  top: 60px !important;

  li {
    padding: 0px !important;
  }

  li:first-child {
    height: 60px !important;
  }

  .ant-dropdown-menu-title-content {
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
  }

  .ant-dropdown-menu-title-content:hover {

    .account-content,
    .anticon {
      color: var(--hust-color);
    }

    .account-content {
      display: flex;
      align-items: center;
    }
  }

  .ant-dropdown-menu {
    padding: 0px;
  }

  .ant-dropdown-menu-item {
    height: 45px;
    padding: 0px;
  }

  .menu-item {
    border-bottom: 1px solid #e3e3e3;
    display: flex;
    gap: 10px;
    align-items: center;
    height: 45px;
    width: 200px;
    padding-left: 20px;
  }
}

.account-role.menu-item {
  align-items: center;
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #e3e3e3;
  background-color: #f7f7fa;
  height: 60px;

  .name-role {
    display: flex;
    flex-direction: column;
    span {
      display: block;
      max-width: 120px;
      font-size: 12px;
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}