@tailwind base;
@tailwind components;
@tailwind utilities;

.update-password-container {
  display: flex;
}

.update-password-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 32px;
  position: relative;
  background-color: #ffffff;
  border-radius: 15px;
  margin-top: 20px;
}