.search-wrapper {
  position: relative;

  .search-error-message {
    font-size: 14px;
    font-style: italic;
    color: #d5161d;
  }

  .ant-input-affix-wrapper {
    height: 40px;
    z-index: 999;
  }

  .ant-input-search-button {
    display: none;
  }

  .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .ant-input-clear-icon {
    margin-right: 25px;
  }
}
