.list-search-filter {
  display: flex;
  align-items: center;
  gap: 10px;
  .filter-select-course-num{
    min-width: 120px;
    .ant-select-selector {
      min-width: 120px;
      overflow-x: auto;
    }
  }

  .list-filter,
  .list-search {
    display: flex;
    align-items: center;
    gap: 10px;

    .list-search-filter-label {
      font-weight: bold;
      flex-shrink: 0;
    }
  }

  .ant-select-selector {
    width: 160px;
    max-height: 55px;
    overflow-y: scroll;
  }

  .ant-input-wrapper {
    input {
      width: 180px !important;
    }
  }
}
