.ant-badge {
  cursor: pointer;
}

.ant-popover {
  position: fixed;
}

.notification {
  .ant-popover-content {
    width: 300px !important;
  }

}

.ant-popover-inner-content {
  width: 350px;
  padding: 0px !important;

  .ant-list {
    height: 100%;
    border: none;
    overflow-y: scroll;

    .noti-header {
      display: flex;
      justify-content: space-between;

      .noti-text {
        font-size: 16px;
      }
    }

    .ant-spin-nested-loading {
      max-height: 300px;
      overflow-y: scroll;
    }

    .view-all {
      text-align: center;
      cursor: pointer;
      font-size: 16px;
    }

    .view-all:hover {
      color: #007BFF;
    }

    li.ant-list-item:hover {
      background-color: #f7f7fa;
      cursor: pointer;
    }

  }
}
